
*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,html{
    min-height: 100%;
    background-color: #F9FCFD;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
a,a:hover{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
header{
    padding: 50px 30px 120px 30px;
    background-color: #408582;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.top-box{
    background-color: #fff;
    width: 100%;
    float: left;
    margin-top: -80px;
    -webkit-box-shadow: 0 0 10px 0 #b4b4b4;
    -moz-box-shadow: 0 0 10px 0 #b4b4b4;
    box-shadow: 0 0 10px 0 #b4b4b4;
    margin-bottom: 20px;
}
.name{
    margin-bottom: 0;
}
.white-box{
    background-color: #fff;
    width: 100%;
    float: left;
    -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
    -moz-box-shadow: 0 0 10px 0 #e7e7e7;
    box-shadow: 0 0 10px 0 #e7e7e7;
    padding: 30px;
    margin-bottom: 20px;
}
.white-box a{
    color: #2e3bff;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.image-box img{
    max-width: 100%;
    vertical-align: top;
}
.white-color{
    color: #fff;
}
ul {
    list-style: none;
}
ul li{
    margin-bottom: 5px;
}
.bio-box{
    padding: 30px;
}
.bio-box li,.bio-box li a{
    color: #fff!important;
}
.social-links a{
    display: table;
    background-color: #2a74af;
    color: #fff;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;    font-size: 20px;
    padding: 10px;
    text-align: center;

}
.social-links{
    margin-top: 15px;
}
.social-links a i{
    color: #fff;
}
.social-links a:hover{
    background-color: #3191dc;
}
.social-links li{
    display: inline-block;
    margin-right: 5px;
}
.block-title{
    color: #fff;
    background: #5CA3DB;
    padding: 5px 10px;
    width: 100%;
    float: left;
}
h2{
    margin-bottom: 20px;
}
p{
    margin-bottom: 10px;
}
#filters
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#filters li{
    display: inline-block;
    width: 20%;
}
#filters li button{
    width: 100%;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px;
}
#filters li button:focus{
    outline: none;
}
.item {
    width: 25%;
    padding: 2px;
    height: auto;
    float: left;
    /*margin: 2px;*/
}
.item img{
    width: 100%;
}
.blue { background: blue; }

.selected {
    background: #2a74af;
    color: white;
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}
.icon-bg{
    background: url("../images/sprite.png") no-repeat;
}
.guru{

    background-position: 11px 13px;
}
.upwork{
    background-position: -64px 13px;
}
.peopleperhour{
    background-position: 11px -23px;
}
.freelancer{
    background-position: 11px -59px;
}
.col-6{
    width: 45%;
    display: inline-block;
}
.education{
    position: relative;
}
.education-2{
    margin: 40px 0 0 0;

}
.education-1:after{
    content: " ";
    position: absolute;
    width: 10%;
    height: 1px;
    background: #c4b6b6;
    left: 100%;
    top: 50%;
}
.education-1:before{
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #2a74af;
    top: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    right: -10%;
    margin-top: -5px;
    z-index: 10;
    margin-right: -10px;
}
.education-2:after{
    content: " ";
    position: absolute;
    width: 10%;
    height: 1px;
    background: #c4b6b6;
    right: 100%;
    top: 50%;
}
.education-2:before{
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #2a74af;
    top: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -10%;
    margin-top: -5px;
    z-index: 10;
    margin-left: -10px;
}
.education-info{
    position: relative;
    width: 100%;
    float: left;
}
.education-info:after{
    content: " ";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #c4b6b6;
    right: 50%;
    top: 0;
}
.portfolio{
    min-height: 800px;
}
.bio-box b{
    display: inline-block;
    min-width: 65px;
}
.bio-box a{
    text-decoration: none;
    color: #333;
}
.left-box{
    width: 34%;
    float: left;

}
.right-box{
    width: 66%;
    float: left;
    padding-left: 3%;
}
.main-content{
    width: 100%;
    float: left;
    padding: 50px 0;
}
.full-width-left{
    float: left;
    width: 100%;
}
.box-content{
    background: #5CA3DB;
}
.right-box{
    background: #F9FCFD;
}
.white-line{
    height: 1px;
    background: #fff;
    margin: 10px 0;
}
@media only screen and (max-width: 1100px) {
    .education-2:before{
        margin-left: -9px;
    }
    .education-1:before{
        margin-right: -9px;
    }
}
@media only screen and (max-width: 800px) {
    .image-box{
        width: 100%;
    }
    .image-box img{
        display: table;
        margin: 0 auto;
    }
}
